/** @define SkipLink */

@use '@/styles/functions/px-to-rem' as *;
@use '@/styles/mixins/accessibility';
@use '@/styles/theme/elements/button';
@use '@/styles/variables';

.SkipLink {
  @extend %button;

  @include accessibility.screen-reader-only;

  background-color: var(--background-color);
  color: var(--foreground-color);
  z-index: 10000;

  &:visited {
    color: var(--foreground-color);
  }

  &:focus {
    border-color: currentColor;
    left: #{variables.$margin-left};
    position: absolute;
    top: #{variables.$margin-top};

    @supports (left: max(0px)) {
      left: max(#{variables.$margin-left}, env(safe-area-inset-left));
      top: max(#{variables.$margin-top}, env(safe-area-inset-top));
    }
  }
}
