@mixin screen-reader-only {
  height: 1px;
  left: -9999px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;

  &:focus {
    height: auto;
    position: static;
    width: auto;
  }
}
